.history-page {
    display: flex;
    height: 100vh;
    
}

.main-content {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 1rem 2rem;
    color: #ffffff;
    height: 3rem;
    border-left: 0.1rem solid #374151;
}

.main-header {
    border-bottom: 0.1rem solid #374151;
}

header {
    color: #3da6ff;
    font-size: 1.125rem;
}

select {
    background-color: #1e2a3a;
    color: #b0b8c5;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

select:hover {
    background-color: #263648;
}

.weather-history {
    display: flex;
    flex-direction: column;
    background-color: #1e2a3a;
    background: #1F2937;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    width: 45rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    max-height: 30vh;
}

.history-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;

}
